




ion-content {
    --background: #f8f8f8; /* barra arriba */
}
ion-toolbar {
    --background: #f70101; /* el color de fondo del toolbar */
}

ion-title {
    color: #ffffff; /* Cambia el color del texto del título */
    font-weight: bold; /* peso de fuente para hacer el texto más grueso */
}