.imagen-container {
    text-align: center; /* Centra las imágenes y los títulos */
    margin-bottom: 20px; /* Espacio entre las imágenes */
}

.imagen-container img {
    width: 100%; /* Ajusta el tamaño de la imagen al contenedor */
    max-width: 500px; /* Limita el tamaño máximo de la imagen */
    height: auto; /* Mantiene la relación de aspecto */
    margin-bottom: 10px; /* Espacio entre la imagen y el título */
}

h2 {
    font-size: 24px; /* Tamaño del título */
    margin: 0; /* Elimina el margen superior e inferior del título */
    color: #000000;
}


ion-content {
    --background: #f8f8f8; /* barra arriba */
}
ion-toolbar {
    --background: #f70101; /* el color de fondo del toolbar */
}

ion-title {
    color: #ffffff; /* Cambia el color del texto del título */
    font-weight: bold; /* peso de fuente para hacer el texto más grueso */
}
