<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>


<div class="imagen-container">
  <h2>Estreno Popular</h2>
  <img src="https://preview.redd.it/official-poster-for-captain-america-brave-new-world-v0-jkgmtnwszxzd1.jpeg?auto=webp&s=90b1ec0b517d9fcc07bfd5b06c8da5218d574c35" alt="Estreno Popular">
</div>

<div class="imagen-container">
  <h2>Próximo Gran Estreno</h2>
  <img src="https://preview.redd.it/superman-movie-2025-poster-v0-d3ix39go81vd1.jpeg?auto=webp&s=9b5e9f1add35a22b6360624aba2a49020855d3c7 " alt="Próximo Gran Estreno">
</div>
</ion-content>
