<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Comida
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="container">
    <img src="https://w7.pngwing.com/pngs/958/942/png-transparent-television-film-cinema-popcorn-popcorn-television-food-film.png" alt="imagen comida">
    <p>Palomitas grandes: $3.500</p>
  </div>
</ion-content>
